<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add a song</title>
  </head>
  <body>
    <div class="mb-3">
        <label for="song title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        <div id="title" class="form-text">Please add a title</div>
      </div>
    <div class="mb-3">
        <label for="song artist" class="form-label">Artist</label>
        <input type="text" class="form-control" id="artist" name="artist"aria-describedby="artist">
        <div id="title" class="form-text">Please add the artist</div>
      </div>
  </body>
</html>